/*
Form
 */

#subCategoryForm {
    padding: 10px;
    box-shadow: 0 4px 24px #0000000a;
    margin-bottom: 15px;
}

#subCategoryForm label,#subCategoryForm p{
    font-weight: bold;
}

#subCategoryForm input:not(.relilab-submit-button),#subCategoryForm select {
    margin-top: 10px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
}

.relilab-tutorial-link {
    margin-bottom: 15px !important;
    text-align: center;
}
.relilab-filter-container{
display: flex;
}
.relilab-filter-container div{
    width: 33%;
    margin: 0 5px;
}

.relilab-view-slider-container {
    display: flex;
    align-items: center;
    margin: auto;
    width: fit-content;
}

.relilab-view-slider-container div {
    margin: 0 10px;
}

.relilab-slider-label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


.relilab-view-slider-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.relilab-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.relilab-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.relilab-view-slider-input:checked + .relilab-slider {
    background-color: #6713d2;
}

.relilab-view-slider-input:focus + .relilab-slider {
    box-shadow: 0 0 1px #6713d2;
}

.relilab-view-slider-input:checked + .relilab-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.relilab-view-icon {
    padding: 15px;
    background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
    box-shadow: 0 4px 24px #0000000a;
    margin: 0 5px;
    border-radius: 22px;
    color: white;
    font-weight: bold;;
}

.relilab-tutorial-link {
    text-align: center;
    margin-top: 15px;
    width: 100%;
}

/*Main View*/

.relilab-termin-month {
    padding: 5px;
    border-radius: 3px;
    margin-top: 15px;
    box-shadow: 0 4px 24px #0000000a;
}

.relilab-termin-month h4 {
    text-align: center;
}

.relilab-termin-week-header {
    background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
    color: white;
    font-weight: bold;
    font-size: medium;
    border-radius: 3px;
}

.relilab-termin-week-header div {
    padding: 10px;
    border-left: 2px #cc208e solid;
    border-right: 2px #6713d2 solid;
}

.relilab-termin-week-header .relilab-termin-Sun {
    border-right: unset;
}

.relilab-termin-week-header .relilab-termin-Mon {
    border-left: unset;
}

.relilab-termin-box {
    box-shadow: 0 4px 24px #0000000a;
    padding: 5px;
    border-radius: 3px;
    color: white;
    background: #29333c;
}

.relilab-termin-filled {
    background: linear-gradient(90deg, #d225f8, #ff8103) !important;
    font-weight: bold;
}

.relilab-termin-filled:hover, .relilab-termin-filled:hover relilab-termin-filled:not(div, a, img) {
    background: #6713d2 !important;
    cursor: pointer;
}

.relilab-termin-week {
    display: grid;
    grid-template-areas: 'Mon Tue Wen Thu Fri Sat Sun';
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    margin: 5px;

}

.relilab-termin-week, .relilab-termin-week-header {
    display: grid;
    grid-template-areas: 'Mon Tue Wen Thu Fri Sat Sun';
    grid-template-columns: repeat(7, 1fr);
}


.relilab-termin-week {
    text-align: center;
    min-width: 50px;
    min-height: 50px;
}

.relilab-termin-week-header div[class^=relilab-termin-]:after {
    display: none;
}

.relilab-termin-week-header div {
    text-align: center;
}

@media only screen and (max-width: 600px) {

    .relilab-termin-details {
        left: 10%;
        right: 10%;
    }

    .non-mobile span {
        display: none;
    }

    .relilab-termin-week-header .relilab-termin-Mon:after {
        display: unset !important;
        content: 'Mo';
    }

    .relilab-termin-week-header .relilab-termin-Tue:after {
        display: unset !important;
        content: 'Di'
    }

    .relilab-termin-week-header .relilab-termin-Wen:after {
        display: unset !important;
        content: 'Mi';
    }

    .relilab-termin-week-header .relilab-termin-Thu:after {
        display: unset !important;
        content: 'Do';
    }

    .relilab-termin-week-header .relilab-termin-Fri:after {
        display: unset !important;
        content: 'Fr'
    }

    .relilab-termin-week-header .relilab-termin-Sat:after {
        display: unset !important;
        content: 'Sa'
    }

    .relilab-termin-week-header .relilab-termin-Sun:after {
        display: unset !important;
        content: 'So';
    }
}

.relilab-termin-Mon {
    grid-area: Mon;
}

.relilab-termin-Tue {
    grid-area: Tue;
}

.relilab-termin-Wen {
    grid-area: Wen;
}

.relilab-termin-Thu {
    grid-area: Thu;
}

.relilab-termin-Fri {
    grid-area: Fri;
}

.relilab-termin-Sat {
    grid-area: Sat;
}

.relilab-termin-Sun {
    grid-area: Sun;
}

.relilab-termin-details {
    display: none;
    position: absolute;
    background: lightgrey;
    border-radius: 3px;
    padding-bottom: 15px;
    cursor: default;
    z-index: 100;
    max-width: 500px;
}

.relilab-termin-details-header {
    background: black;
    padding: 10px;
}

.relilab-termin-thumbnail {
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
    background-position: center;
}

.relilab-termin-daytime {
    background: darkgrey;
    margin: auto;
    font-weight: bold;
    font-size: larger;
    opacity: .9;
    border-radius: 3px;
}

.relilab-termin-title {
    font-weight: bold;
    font-size: large;
}

.relilab-meeting-button {
    background: linear-gradient(90deg, #d225f8, #ff8103) !important;
    font-weight: bold;
    font-size: medium;
    border-radius: 22px;
    padding: 5px;
    margin-top: 10px;
    color: white;
    text-align: center;
}

.relilab-meeting-button:hover {
    filter: brightness(.9) contrast(1.2);
    cursor: pointer;
}

.relilab-termin-focused {
    display: block !important;
}

.relilab-termin-focused {

}


/*
List View Styles
 */

.relilab-list-month {
    text-align: center;
    padding: 20px;
    background-color: lightgrey;
}

.relilab-list-termin-box {
    box-shadow: 0 4px 24px #0000000a;
    margin-bottom: 15px;
}

.relilab-list-termin-header {
    width: 100%;
    background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
    color: white;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    padding: 15px 0;
}

.relilab-list-termin-box .relilab-termin-content {
    padding: 15px 0;
}

.relilab-list-termin-box .relilab-termin-post-details {
    background: darkgrey;
    margin: auto;
    opacity: .9;
    border-radius: 3px;
    padding: 15px;
}

.relilab-list-termin-box .relilab-termin-title {
    text-align: center;
}

.relilab-list-termin-box .relilab-termin-excerpt {

}

.relilab-list-termin-box .relilab-meeting-button {
    padding: 15px;
    width: fit-content;
    margin: 10px auto;
}

.relilab-list-termin-box .relilab-meeting-button .relilab-termin-day {
    font-size: xx-large;
}
