/*
Form
 */

#subCategoryForm {
    padding: 10px;
    box-shadow: 0 4px 24px #0000000a;
    margin-bottom: 15px;
}

#subCategoryForm label, #subCategoryForm p {
    font-weight: bold;
}

#subCategoryForm input:not(.event-submit-button), #subCategoryForm select {
    margin-top: 10px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
}

.event-tutorial-link {
    margin-bottom: 15px !important;
    text-align: center;
}

.event-filter-container {
    display: flex;
}

.event-filter-container div {
    width: 33%;
    margin: 0 5px;
}

.event-view-select-container {
    display: flex;
    align-items: center;
    margin: auto;
    width: fit-content;
}

.event-view-select-container label {
    margin: 0 !important;
}

.event-select-label {
    position: relative;
    display: inline-block;
    cursor: pointer;
}


.event-view-select-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.event-view-select-input:hover + .event-view-icon {
    filter: brightness(.9) contrast(1.2);
}

.event-view-select-input:checked + .event-view-icon {
    background: #ff8103 !important;
}

.event-view-icon {
    padding: 15px;
    background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
    box-shadow: 0 4px 24px #0000000a;
    margin: 0 5px;
    border-radius: 22px;
    color: white;
    font-weight: bold;;
}

.event-tutorial-link {
    text-align: center;
    margin-top: 15px;
    width: 100%;
}

/*Main View*/

.event-termin-month {
    padding: 5px;
    border-radius: 3px;
    margin-top: 15px;
    box-shadow: 0 4px 24px #0000000a;
}

.event-termin-month h4 {
    text-align: center;
}

.event-termin-week-header {
    background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
    color: white;
    font-weight: bold;
    font-size: medium;
    border-radius: 3px;
}

.event-termin-week-header div {
    padding: 10px;
    border-left: 2px #cc208e solid;
    border-right: 2px #6713d2 solid;
}

.event-termin-week-header .event-termin-Sun {
    border-right: unset;
}

.event-termin-week-header .event-termin-Mon {
    border-left: unset;
}

.event-termin-box {
    box-shadow: 0 4px 24px #0000000a;
    padding: 5px;
    border-radius: 3px;
    background: #29333c;
}

.event-termin-box .event-termin-day{
    color: white;
}
.event-termin-filled{
    /*background: linear-gradient(90deg, #d225f8, #ff8103) !important;*/
}

.event-termin-filled .event-termin-day {
    font-weight: bold;
}

.event-termin-filled:hover, .event-termin-filled:hover event-termin-filled:not(div, a, img) {
    background: #6713d2 !important;
    cursor: pointer;
}

.event-termin-week {
    display: grid;
    grid-template-areas: 'Mon Tue Wen Thu Fri Sat Sun';
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    margin: 5px;

}

.event-termin-week, .event-termin-week-header {
    display: grid;
    grid-template-areas: 'Mon Tue Wen Thu Fri Sat Sun';
    grid-template-columns: repeat(7, 1fr);
}


.event-termin-week {
    text-align: center;
    min-width: 50px;
    min-height: 50px;
}

.event-termin-week-header div[class^=event-termin-]:after {
    display: none;
}

.event-termin-week-header div {
    text-align: center;
}

@media only screen and (max-width: 600px) {

    .event-filter-container {
        display: unset !important;
    }

    .event-view-select-container {
        display: unset !important;
    }

    .event-view-select-container label {
        margin: 15px 0 !important;
    }

    .event-submit-button {
        margin-top: 20px !important;
    }

    .event-termin-details {
        left: 10%;
        right: 10%;
    }

    .non-mobile span {
        display: none;
    }

    .event-termin-week-header .event-termin-Mon:after {
        display: unset !important;
        content: 'Mo';
    }

    .event-termin-week-header .event-termin-Tue:after {
        display: unset !important;
        content: 'Di'
    }

    .event-termin-week-header .event-termin-Wen:after {
        display: unset !important;
        content: 'Mi';
    }

    .event-termin-week-header .event-termin-Thu:after {
        display: unset !important;
        content: 'Do';
    }

    .event-termin-week-header .event-termin-Fri:after {
        display: unset !important;
        content: 'Fr'
    }

    .event-termin-week-header .event-termin-Sat:after {
        display: unset !important;
        content: 'Sa'
    }

    .event-termin-week-header .event-termin-Sun:after {
        display: unset !important;
        content: 'So';
    }
}

.event-termin-Mon {
    grid-area: Mon;
}

.event-termin-Tue {
    grid-area: Tue;
}

.event-termin-Wen {
    grid-area: Wen;
}

.event-termin-Thu {
    grid-area: Thu;
}

.event-termin-Fri {
    grid-area: Fri;
}

.event-termin-Sat {
    grid-area: Sat;
}

.event-termin-Sun {
    grid-area: Sun;
}

.event-termin-details {
    display: none;
    position: absolute;
    background: lightgrey;
    border-radius: 3px;
    cursor: default;
    z-index: 100;
    max-width: 500px;
}

.event-termin-thumbnail {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    background-position: center;
}
.event-termin-thumbnail div{
    margin-bottom: 10px;
}

.event-termin-title {
    font-weight: bold;
    font-size: large;
}

.event-meeting-button {
    font-weight: bold;
    font-size: medium;
    border-radius: 22px;
    padding: 5px;
    margin-top: 10px;
    color: white;
    text-align: center;
}

.event-meeting-button:hover {
    filter: brightness(.9) contrast(1.2);
    cursor: pointer;
}

.event-termin-focused {
    display: block !important;
}

.event-termin-focused {

}


/*
List View Styles
 */

.event-list-month {
    text-align: center;
    padding: 20px;
    background-color: lightgrey;
}

.event-list-termin-box {
    box-shadow: 0 4px 24px #0000000a;
    margin-bottom: 25px;
}

.event-termin-details-header {
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    padding: 15px 0;
}

 .event-termin-post-details {
    background: rgba(255,255,255,0.7);
    margin: auto;
    border-radius: 3px;
    padding: 15px;
}

.event-list-termin-box .event-termin-title {
    text-align: center;
}

.event-list-termin-box .event-termin-excerpt {

}

.event-list-termin-box .event-meeting-button {
    padding: 15px;
    width: fit-content;
    margin: 10px auto;
}

.event-list-termin-box .event-meeting-button .event-termin-day {
    font-size: xx-large;
}
